#article-card-collapse {
    padding: 2%;
    text-align: justify;
}

#article-card-main-container {
    width: 30%;
}

@media screen and (max-width: 1000px) {
    #article-card-main-container {
        width: 80%;
    }
}

#article-card-card {
    color: #370644;

}
