/* MAIN CONTAINER */

#menu-main-container{
    height: 10vh;
    width: 100%;
    display: flex;
    -webkit-box-shadow: 0 0 10px -6px #383d40;
    box-shadow: 0 0 10px -6px #383d40;
    background-image: linear-gradient(to right bottom, #370644, #510f6c, #6a1b99, #802bca, #923eff);
}

@media screen and (max-width: 1000px){
    #menu-main-container{
        height: 30vh;
    }
}

/* CONTENTS CONTAINERS */

#menu-nav-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#menu-desktop-logo-container {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-desktop-logo {
    height: 90%;
}

