/* MAIN CONTAINER */

#menu-mobile-main-container {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5% 0 1%;
    background-color: #370644;
    box-sizing: border-box;
}

/* LOGO */

#menu-mobile-logo {
    max-height: 100%;
}

/* NAV CONTAINER */

#menu-mobile-nav {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20% 5% 0 5%;
    box-sizing: border-box;
    gap: 5%;
}

/* LINK */

.menu-mobile-link {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-start;
    padding-left: 5%;
    color: #370644;
    text-decoration: none;
    letter-spacing: 0.1vw;
    font-size: 110%;
    text-shadow: 0 0 1px #370644;
}

.menu-mobile-link:hover {
    background-color: #370644;
    color: #FFEFD7;
}

/* NAVIGATION LINK ACTIVE */

.menu-mobile-link-active {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-start;
    padding-left: 5%;
    background-color: #370644;
    color: #FFEFD7;
    text-decoration: none;
    letter-spacing: 0.1vw;
    font-size: 110%;
    text-shadow: 0 0 1px #383d40;
}

.menu-mobile-link-active:hover {
    background-color: transparent;
    color: #370644;
}

/* ICON */

.menu-mobile-icon {
    color: #923EFF;
    margin-right: 20%;
}
