/* MAIN CONTAINER */

#menu-nav-desktop-main-container {
    width: 100%;
    height: 100%;
    margin: auto;
}

/* NAVIGATION CONTAINER */

#menu-nav-desktop-nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 5%;
}

/* NAVIGATION LINK */

.menu-nav-desktop-link {
    width: 30%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFEFD7;
    text-decoration: none;
    letter-spacing: 0.1vw;
    font-size: 110%;
    text-shadow: 0 0 1px #FFEFD7;
}

.menu-nav-desktop-link:hover {
    text-decoration: underline;
}

/* NAVIGATION LINK ACTIVE */

.menu-nav-desktop-link-active {
    width: 30%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFEFD7;
    text-decoration: underline;
    letter-spacing: 0.1vw;
    font-size: 110%;
    text-shadow: 0 0 1px #FFEFD7;
}

.menu-nav-desktop-link-active:hover {
    text-decoration: none;
}

/* NAVIGATION ICON */

.menu-nav-desktop-icon {
    color: #FFEFD7;
    margin-right: 5%;
}

