#home-main-container {
    width: 100%;
}

#home-article-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2vh;
    padding: 5%;
    box-sizing: border-box;
}

#home-category-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5%;
    padding: 5% 0 0 5%;
    box-sizing: border-box;
}
