html, body {
    box-sizing: border-box;
}

.form-title {
    text-transform: uppercase;
    letter-spacing: 0.6vw;
    font-size: 200%;
    margin: 3% auto;
    text-align: center;
    font-weight: lighter;
}
